# application port
PORT=5000
# application host
HOST=0.0.0.0
# CORS origin configuration
ALLOWED_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173","http://localhost:3000","http://127.0.0.1:3000"]
# database configuration
MONGODB_URI=mongodb://localhost:27017/task-management
# jwt configuration
JWT_SECRET=your-secret-key
JWT_EXPIRES_IN=7d

